html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.table {
  display: table;
  width: 800px;
}

.tr {
  display: table-row;
}

.td {
  display: table-cell;
  width: 150px;
}

.form {
  display: none;
}

.level {
  display: none;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  cursor: pointer;
  padding-left: 100px;
}

button {
  width: 100px;
}
